---
title: Andrew Sullivan Cant
layout: bare
---

%section.masthead
  %h1 Andrew Sullivan Cant
  %p.lead
    is a software developer living in
    =link_to 'Kitchener-Waterloo'
  %p
    Currently deep into Ruby and active in the local FLOSS community.

%section.marketing
  .column
    %ul.content
      %li
        %a(href='/resume')
          %i.icon-briefcase
          Resume
      %li
        %a(href='/blog')
          %i.icon-bullhorn
          Blog
      %li
        %a(href='/wiki')
          %i.icon-pencil
          Wiki

    %h4 Around the Web
    %ul.content
      %li
        %a(href='https://github.com/acant' rel='me')
          %i.icon-github
          Github
      %li
        %a(href='https://ca.linkedin.com/in/andrewsullivancant' rel='me')
          %i.icon-linkedin
          Linkedin
      %li
        %a(href='https://twitter.com/andrew_s_cant' rel='me')
          %i.icon-twitter
          Twitter
      %li
        %a(href='http://www.openstreetmap.org/user/asc' rel='me')
          %i.icon-map-marker
          OpenStreetMap
      %li
        %a(href='https://en.wikipedia.org/wiki/User:Andrew_Sullivan_Cant' rel='me')
          %i.icon-globe
          Wikipedia

  .column
    %h4 Contacts
    %ul.contacts
      %li
        %a(href='mailto:mail@andrewsullivancant.ca' rel='me')
          %i.icon-envelope
          mail@andrewsullivancant.ca

    %h4 Groups
    %ul.memberships
      %li
        %a(href='http://www.kwlug.org' rel='group')
          %i.icon-group
          KW Linux Users Group
      %li
        %a(href='http://www.kwruby.ca' rel='group')
          %i.icon-group
          KW Ruby on Rails


